#app{
    margin: 0;
    padding: 0;
}

#header{
    color: #f8bd1a;
    font-weight: 500;
}

#menu-list, #login-page{
    margin: 10px auto;
}

#series-name{
    margin-top: 10px;
}

#fruit-list, #tea-coffee-list, #all-order, #total-price{
    margin: 12px;
}

.food-name{
    font-size: 18px;
}

.price{
    font-weight: bold;
    font-size: 14px;
}

.btn-group{
    margin-top: 10px;
}
.card{
    padding: 10px;
    margin: 5px;
}

#qty{
    margin-top: 4px;
}

.ul{
    margin: 30px;
}

#login{
    max-width: 30%;
    background-color: #ffc936;
}

#login-page{
    text-align: center;
}

a{
    text-align: center;
}